<%- include("partials/header") %>
<div class="container" style="width:35%;margin:25px auto;">
    <h3 style="text-align: center;">Create a new Tarot card</h3>
    <form action="/index" method="POST">
        <div class="form-group">
            <label for="edutarotName">Name of card</label>
            <input type="text" class="form-control" name="name" placeholder="Name of Tarot card">
        </div>
        <div class="form-group">
            <label for="edutarotURL">Image URL</label>
            <input type="text" class="form-control" name="image" placeholder="URL of image">
        </div>
        <div class="form-group">
            <label for="edutarotDesc">Description</label>
            <input type="text" class="form-control" name="desc" placeholder="Ability of Tarot card"">
        </div>        
        <button type="submit" class="btn btn-outline-primary" style="float: right;">Submit</button>
  </form>
</div>  
<%- include("partials/footer") %>
