<%- include("partials/header") %>
<div class="container">
    <div class = "jumbotron" style = "text-align: center;">
        <h1>Greeting from EduTarot</h1>
        <div class="container">
        <img src="https://previews.123rf.com/images/katrintimoff/katrintimoff1608/katrintimoff160800081/63246375-tarot-cards-mystical-background-senior-card-magician-.jpg" class="img-fluid">
        </div>
        <br>
        <a class="btn btn-outline-primary" href="/tarot" role="button">View all EduTarot</a>
    </div>
</div>    
<%- include("partials/footer") %>